<%= form_with(model: @picture, url: choose_new_or_edit, local: true) do |form| %>
  <% if @picture.errors.any? %>
    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @picture.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :content %>
  <%= form.text_field :content %>
  <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
  <%= form.file_field :image %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "投稿する" %>
  <%= form.submit "画像を削除する", name: "delete_image" %>
<% end %>

<%= link_to "記事一覧に戻る", pictures_path %>
